/* index.css */
.spotlight-modal {
  font-size: 12px;
}
.spotlight-modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.spotlight-modal > .actions {
  margin: auto;
}
.spotlight-modal > .actions {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}
.content > .description {
  font-size: 14px;
}
.content > .source {
  font-size: 13px;
}
.spotlight-modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 7px;
  line-height: 20px;
  right: 0px;
  top: 0px;
  font-size: 22px;
  background: #ffffff;
  color: #333131;
}
.hide {
  display: none;
}
